body {
    font                : 14px "Century Gothic", Futura, sans-serif;
    margin              : 20px;
  }

.cell-grid {
    display             : flex;
    flex-wrap           : wrap;
    background-color    : #b8aa9e;
    border              : 8px solid #bbab9d;
    border-radius       : 6px;
}

.cell, .tile {
    width               : 100px;
    height              : 100px;
    margin              : 8px;
    border-radius       : 8px;
}

.cell {
    position            : relative;
}

.tile {
    text-align          : center;
    line-height         : 100px;
    vertical-align      : middle;
    position            : absolute;
    font-size           : 40px;
}

.cell {
    background          : #e0d3c7;
}

.game {
  width                 : 480px;
  display               : flex;
  flex-wrap             : wrap;
}

.tile-2 {
    background          : #f5ebe1;
}

.tile-4 {
    background          : #f0e3cb;
}

.tile-8 {
  background            : #f3b278;
}

.tile-16 {
  background            : #f19361;
}

.tile-32 {
  background            : #f37b5e;
}

.tile-64 {
  background            : #f15b39;
}

.tile-128 {
  background            : #e2c46b;
}

.tile-256 {
  background            : #f0ce60;
}

.tile-512 {
  background            : #ebc548;
}

.tile-1024 {
  background            : #ebc035;
  font-size             : 30px;
}

.tile-2048 {
  background            : #e6b823;
  font-size             : 30px;
}

.tile-4096 {
  background            : #f0be1b;
  font-size             : 30px;
}

.tile-8192 {
  background            : #ffc70f;
  font-size             : 30px;

}

.button-container {
  text-align          : right;
  width               : 100%;
}

.button {
  text-align            : center;
  border                : solid #555555 1px;
  padding               : 10px;
  width                 : 100px;
  font-size             : 20px;
  background            : #c7da25;
  display               : inline-block;
  margin-top            : 20px;
  float                 : right;
  border-radius         : 6px;
  -webkit-box-shadow    : inset -1px 3px 8px 5px #bfe615, 2px 5px 16px 0px #0B325E, 5px 5px 11px 5px rgba(0,0,0,0); 
  box-shadow            : inset -1px 3px 8px 5px #e9ff1f, 2px 5px 16px 0px #0B325E, 5px 5px 11px 5px rgba(0,0,0,0);
}

.score, .hi-score {
  color                 : #555555;
  font-size             : 20px;
  
}

.score {
  grid-column-start     : score;
}

.hi-score {
  grid-column-start     : hi-score;
  justify-self          : end;
}

.score-container {
  display               : grid;
  width                 : 100%;
  grid-template-columns : [score] 50% [hi-score] 50%;
  grid-template-rows    : [score-panel] auto;
  margin-bottom         : 20px;
  
}

